<div class="bg-black box hover:scale-105 transition-all duration-500 cursor-pointer flex flex-col items-center rounded-lg overflow-hidden w-[13rem] mx-6 mb-10 shadow-2xl shadow-black">

  <div class="h-[12rem] w-[11rem] relative">
    <!-- Etiqueta de porcentaje sobrepuesta -->
    <div class="absolute top-1 left-0.5 bg-red-300 text-white text-[12px] px-2 py-0 rounded-full">
      {{product.porcentajeDescuento}}% off
    </div>

    <img class="object-cover object-top w-full h-full rounded-[5px]" [src]="product.imageUrl" alt="">
  </div>
  <div class="pt-4 pl-4">
    <p class=" text-white text-[1.5rem]">{{product.marca}}</p>
    <p class="mt-2 text-gray-500 text-[0.800rem]">{{product.titulo}}</p>
    <p class="text-white">S/{{product.precio}}</p>
  </div>
</div>
