<div class="box hover:scale-105 transition-all duration-500 cursor-pointer flex flex-col items-center rounded-lg overflow-hidden w-[15rem] mx-3">
    <div class="h-[13rem] w-[10rem] relative">
      <!-- Etiqueta de porcentaje sobrepuesta -->
      <div class="absolute top-1 left-0.5 bg-red-400 text-white text-[12px] px-2 py-0 rounded-full">
        {{product.porcentajeDescuento}}% off
      </div>
      
      <img class="object-cover object-top w-full h-full rounded-[5px]" [src]="product.imageUrl" alt="">
    </div>
    <div class="p-4">
      <p class="font-medium text-gray-900 text-[4vh]">{{product.marca}}</p>
      <p class="mt-2 text-gray-500">{{product.titulo}}</p>
      <p class="text-gray-500">{{product.precio}}</p>
    </div>
  </div>
  