<div class="bg-black text-white mt-10 text-center px-5 lg:px-20 ">
    <div class="container">

        <div class="py-3 flex justify-between">

            <div class="px-4">

                <p class=" text-lg font-semibold pb-5 text-gray-500"> Company</p>
                <p class="mb-2">About</p>
                <p class="mb-2">Blog</p>
                <p class="mb-2">Jobs</p>
                <p class="mb-2">Press</p>
                <p class="mb-2">Partners</p>

            </div>
            <div class="px-4">

                <p class=" text-lg font-semibold pb-5 text-gray-500"> Solutions</p>
                <p class="mb-2">Marketing</p>
                <p class="mb-2">Analitycs</p>
                <p class="mb-2">Commerce</p>
                <p class="mb-2">Insight</p>
                <p class="mb-2">Support</p>

            </div>
            <div class="px-4">

                <p class=" text-lg font-semibold pb-5 text-gray-500"> Marketing</p>
                <p class="mb-2">Guides</p>
                <p class="mb-2">API status</p>
                <p class="mb-2">Jobs</p>
                <p class="mb-2">Press</p>
                <p class="mb-2">Partners</p>

            </div>
            <div class="px-4">

                <p class=" text-lg font-semibold pb-5 text-gray-500">Documentacion</p>
                <p class="mb-2">About</p>
                <p class="mb-2">Blog</p>
                <p class="mb-2">Jobs</p>
                <p class="mb-2">Press</p>
                <p class="mb-2">Partners</p>

            </div>
            

        </div>
        <div class="pt-10 text-center text-gray-600">
            <p>&copy; 2024 Saixnet Todos los derechos reservados</p>
            <p>Hecho por Saixnet</p>


        </div>

    </div>

</div>
